<div class="container">
  <form class="form row" [formGroup]="adminUserForm" novalidate>
    <h2 *ngIf="isTitle">{{isUpdate?'Update':'Create'}} Admin Profile</h2>
    <div class="form-group col s12">
      <label for="email">First Name *:</label>
      <div class="relative">
        <input formControlName="first_name" [class.invalid]="adminUserForm.controls['first_name'].invalid && adminUserForm.controls['first_name'].dirty"
          name="firstName" class="form-control" id="name" type="text" pattern="[a-zA-Z\s]+" required="" autofocus="" title="Type your first name."
          autocomplete="" placeholder="Type your first name...">
        <i class="material-icons">person</i>
      </div>
    </div>
    <div class="form-group col s12">
      <label for="email">Last Name *:</label>
      <div class="relative">
        <input formControlName="last_name" [class.invalid]="adminUserForm.controls['last_name'].invalid && adminUserForm.controls['last_name'].dirty"
          name="lastName" class="form-control" id="name" type="text" pattern="[a-zA-Z\s]+" required="" autofocus="" title="Type your last name."
          autocomplete="" placeholder="Type your last name...">
        <i class="material-icons">person</i>
      </div>
    </div>
    <div class="form-group col s12">
      <label for="email">Email address *:</label>
      <div class="relative">
        <input formControlName="email" email [class.invalid]="adminUserForm.controls['email'].invalid && adminUserForm.controls['email'].dirty"
          name="email" class="form-control" type="email" required="" placeholder="Type your email address..." title="Type your email address."
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
        <i class="material-icons">email</i>
      </div>
    </div>
    <div class="tright">
      <button class="movebtn movebtnre" type="reset">
        <i class="fa fa-fw fa-refresh"></i> Reset </button>
      <button class="movebtn movebtnsu" type="button" (click)="onSubmit()">{{isUpdate?'Update':'Create'}} User
        <i class="fa fa-fw fa-paper-plane"></i>
      </button>
    </div>
  </form>
</div>
