.usergreeting{
  font-size:1.4rem;
  font-weight: 400;
}
.orange-text{
  padding: .2em;
  color:#F78C1E;
}
form{
  margin-right:0.4rem;
}
i{
  margin-right:1rem;
  font-size: 20px;
}
.dropdown-menu{
  left:-126px !important;
}

.light{
  background:rgba(255,255,255,0.7);
}

.dropdown-menu{
  padding:0px !important;
}