<nav class="navbar navbar-expand-lg navbar-light light">
  <a class="navbar-brand" href="#">
    <img src="../../../assets/tmlogo.png" width="100">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <span *ngIf="username" class="navbar-text usergreeting orange-text">
      Hi {{username}}
    </span>
    <div class="ml-auto d-flex bd-highlight mb-1">
      <form class="form-inline">
        <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
      </form>
      <ul class="navbar-nav">
        <li class="nav-item">
          <div class="dropdown btn btn-link">
            <i class="fas fa-cog orange-text dropleft" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li class="list-group-item" data-toggle="modal" data-target="#change">
                Change Password
              </li>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <button class="btn btn-link" (click)="logout()">
            <i class="fas fa-sign-out-alt orange-text"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-update-password></app-update-password>