<form (ngSubmit)="submit()" [formGroup]="form" novalidate>
  <div class="materialContainer">
    <div class="box">
      <div class="title">LOGIN</div>
      <div *ngIf="error|async" [class]="(error |async ) ? 'input error fadeIn animated':''">
        <p class="red-text text-darken-1">{{error |async}}</p>
      </div>
      <div class="input">
        <input placeholder="Email address" name="uname" id="uname" type="text" autocomplete="email" formControlName="email" />
        <span class="spin"></span>
      </div>
      <div class="input">
        <input placeholder="Password" type="password" name="pass" id="pass" autocomplete="current-password" formControlName="password"
        />
        <span class="spin"></span>
      </div>
      <div class="input mt-2">
        <select class="browser-default">
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Standard User</option>
          <option value="2">Chamber Login</option>
          <option value="3">Administrator</option>
        </select>
      </div>
      <div class="button login">
        <button [disabled]="form.invalid" type="submit" [class]="(error |async ) ? 'shake animated':''">
          <span>GO</span>
          <i class="fa fa-check"></i>
        </button>
      </div>

      <a href="" class="pass-forgot">Forgot your password?</a>

    </div>

  </div>
</form>
