.main {
    background:url('../../../assets/bg.png') no-repeat center top;
    background-size: 100%;
    padding: 50px;
}
.subheader {
    padding: 0.1rem 1rem;
}
.btn {
    margin: 0.8rem auto;
    display: table;
    border-radius: 18px;
    padding: 0 3rem;
}
/* Create two unequal columns that floats next to each other */
.column {
    float: left;

    height: 93vh; /* Should be removed. Only for demonstration */
}

.left {
    width: 15%;
    border-right: 2px solid #eee;
}

.right {
    width: 85%;
}
.transparent-white {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
}
.row {
    margin-bottom: 0px !important;
}
/* Clear floats after the columns */
.row:after {
    content: '';
    display: table;
    clear: both;
}
