

textarea {
    width: 100%;
    height: 90px;
    line-height: 110%;
    resize:vertical;
}
textarea::before{
    content: 'Notes'
}
.drop-shadow {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) , 0 0 1px rgba(0, 0, 0, 0.1) inset;
  }
  .drop-shadow:before,
  .drop-shadow:after {
    content: "";
    position: absolute;
    z-index: -2;
  }
.raised {
    box-shadow: 0 16px 12px -14px rgba(0, 0, 0, 0.5) , 0 1px 4px rgba(0, 0, 0, 0) , 0 0 1px rgba(0, 0, 0, 0) inset;
  }

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:transparent;
}

.feedback-input {
	color: #3c3c3c;
    font-weight: 400;
    font-size: 0.9rem;
    border-radius: 0;
    background-color: #fbfbfb;
    margin-bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    resize: none;
    border: 3px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: none;
	outline: none;
}

.text{
    padding: 10px;
    border: 1px solid #7777;
    margin: 0px 10px;
    color: #EF4559;
    font-weight: 500;
    background:#fff;
    border-bottom:0px;
}
.note-footer{
    border: 1px solid #7777;
    margin: 0 10px;
    input{
        background:transparent;
        border:0px;
    }
    .row{
        margin-bottom:0px;
    }
    .icon-list{
        padding:10px;
        text-align: right;
        border-right:1px solid #7777;
        i{
            padding: 5px;
            margin-right: 1rem;
            font-size: 1.5rem;
            color:#898989;
            cursor: pointer;
        }
        i:hover{
            color:#EF4559;
        }
    }

    .calendar{
        padding:10px;
        border-right:1px solid #7777;
              
    }

    .postbtn{
        padding:15px 5px;
        button{
            background:#f78c1e;
            color:white;
            padding:1px 40px;
            border-radius:30px;
        }
    }
}


.chat{
    margin-top:0.5rem;
    h5{
        color:#898989;
    }
}

.contact-list{
	margin: 0;
    padding: 0;
    overflow-y:scroll;
    font-size:0.8rem;
    height:24em;
    padding-bottom:4rem;
	li{
		color: lighten(#444, 30%);
		padding: 10px;
		&:nth-child(even){
            background: darken(#fff, 3%);
        }
    }
	i{
		border-radius: 50%;
		float: left;
		margin-right: 10px;
    }
	.heading--name{
        color:#EF4559;
        font-weight: bold;
		padding: 0;
		margin-top: 0;
        margin-bottom: 0;
    }
	.contact-info{
        width: 80%;
        
    }
	.contact-item{
		display: inline-block;
        font-size: 1em;
        
		margin-right: 2px;
        margin-left: 2.2rem;
    }
}

.subheader {
    padding:5px 15px;
    button{
        font-size: 1.5rem;
    }
}

.form-group{
    margin-bottom:0.1rem;
    label{
        margin-bottom:0.2rem;
        font-size:0.8rem;
    }
}
    
.form-control{
    font-size:0.8rem;
    background:transparent;
}

.orange-text{
    color:#f78c1e;
}