<div class="modal fade" id="change" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container">
          <form class="form row" [formGroup]="updatePasswordForm" (ngSubmit)="submit()" #cform="ngForm" novalidate>
            <h2>Change Password</h2>
            <div class="form-group col-md-12 control-label">
              <label for="email">Password *:</label>
              <div class="relative">
                <input #pass formControlName="password" name="password" [class]="submitted && updatePasswordForm.hasError('required','password') ? 'haserror form-control': 'form-control'"
                  id="password" type="password" title="Type your password." autocomplete="" placeholder="Type your password..."
                  required>
                <i class="material-icons">person</i>
                <span class="text-muted" *ngIf="">invalid</span>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label for="email">Confirm Password *:</label>
              <div class="relative">
                <input #confpass formControlName="confPassword" name="confPassword" [class]="submitted 
                && (updatePasswordForm.hasError('required','confPassword') 
                || (updatePasswordForm.get('password').value !== updatePasswordForm.get('confPassword').value)) 
                ? 'haserror form-control': 'form-control'" id="confPassword" type="password" title="Type your confirm password."
                  autocomplete="" placeholder="Type your confirm password...">
                <i class="material-icons">person</i>
              </div>
            </div>
            <div class="tright col-md-12">
              <button class="movebtn movebtnre" type="submit" data-dismiss="modal" (click)="cancel()"> Cancel </button>
              <button class="movebtn movebtnsu" type="button" (click)="onSubmit()">Update password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>