nav{
  background-color:white;

}
.logo{
      width: 148px;
    padding: 10px;
}

.navbar{
   border-bottom: 1px solid #eee;
}
.profileName{
  display:flex;
  i{
    font-size: 16px;
    padding-right:10px;
  }
}
