
.column {
    float: left;
    background:white;
    height: 100vh; /* Should be removed. Only for demonstration */
}

.sidebar {
    width: 12%;
    border-right: 1px solid #eee;

}
.userList{
  border-top:1px solid #eee;
}
.content {
    width: 88%;
}

.orange-text{
  color:#F78C1E;
}
.margin-0{
  margin:0px;
}

.collection{
  a.collection-item.active{
    background-color:#F78C1E;
    color:white;
  }
}
.collection{
  a.collection-item{
    color:black;
}
}
.userlist{
   width: 20%;
    border-right: 1px solid #eee;

}
.userinfo{
  width:80%;
}
.list{
  border-bottom:1px solid #eee;
  padding-left:15px;
  p{
    display:flex;
    label{
      font-weight: 500;
      flex-grow:2;
    }
    i{
      font-size:28px;

    }
    i:hover{
      color:red !important;
      cursor: pointer;
    }
  }
}

.container {
  font-family: 'Varela Round', sans-serif;
  color: #9b9b9b;
  position: relative;
  height: 100vh;
  text-align: center;
  font-size: 16px;
}
.container h1 {
  font-size: 32px;
  margin-top: 32px;
}

.boo-wrapper {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boo{
  i{
    font-size:8em;
  }
}
.shadow {
  width: 128px;
  height: 16px;
  background-color: rgba(234, 234, 234, 0.75);
  margin-top: -1rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  animation: floatingShadow 3s ease-in-out infinite;
}
.role{
  padding-left: 2.4rem;
  font-size: 90%;
}
.openoverlay{
  z-index: 1002; display: block; opacity: 0.5;
 }

//  =======

.open{
  z-index: 1003;
   display: block;
   opacity: 1;
   top: 4%;
   width:25vw;
   transform: scaleX(1) scaleY(1);
}

.modal-content{
 padding:10px 24px;
 label{
   font-size:1rem;
 }
 app-chamber-user-form{
   margin-top:2rem;
 }
}