<div class="column userlist">
  <app-search (searchInput)="getSearchText($event)"></app-search>
  <ul class="userList">
    <li *ngFor="let user of users|filter:searchText" class="list">
      <p>
        <label>
          <input name="user" type="radio" [checked]="user.uid === selectedId" (change)="setSelectedUser(user)" />
          <span class="grey-text text-darken-2">{{user.name}}</span>
          <div class="new badge role" data-badge-caption="">{{user.role}}</div>
        </label>
        <i class="material-icons grey-text text-darken-2 right" (click)="deleteUser(user.id)">delete_forever</i>
      </p>
    </li>
  </ul>
</div>
<div class="column userinfo">
  <div>
    <a (click)="Modal()" class="waves-effect waves-teal btn-flat">Create User</a>
    <hr/>
  </div>
  <div [ngSwitch]="selectedUserType">
    <app-admin-user-form *ngSwitchCase="alluserTypes.administrator" [selectedUser]="selectedUser" [isUpdate]="isUpdate" [modalMode]="modalMode"
      (updateAdmin)="updateUser($event)"></app-admin-user-form>
    <app-chamber-user-form *ngSwitchCase="alluserTypes.chamber" [selectedUser]="selectedUser" [isUpdate]="isUpdate" [modalMode]="modalMode"
      (updateChamber)="updateUser($event)"></app-chamber-user-form>
    <app-sales-rep-user-form *ngSwitchCase="alluserTypes.salesRep" [selectedUser]="selectedUser" [isUpdate]="isUpdate" [modalMode]="modalMode"
      (updateSalesRep)="updateUser($event)"></app-sales-rep-user-form>
    <app-prospect-user-form *ngSwitchCase="alluserTypes.prospect" [selectedUser]="selectedUser" [isUpdate]="isUpdate" [modalMode]="modalMode"
      (updateProspect)="updateUser($event)"></app-prospect-user-form>
  </div>

  <div class="container" *ngIf="!selectedUserType">
    <div class="boo-wrapper">
      <div class="boo">
        <i class="material-icons">add_to_queue</i>
      </div>
      <div class="shadow"></div>

      <h6>Here you can Search for Chambers. Alternatively</h6>
      <p>
        <a (click)="getUser()" class="waves-effect waves-orange btn-large">Get List</a>
      </p>
    </div>
  </div>
</div>

<div id="modal1" *ngIf="openModal" [class]="(openModal === true)? 'modal open fadeIn animated': 'model'">
  <div class="modal-content">
    <h4> {{header}} </h4>
    <select class="browser-default" [(ngModel)]="userType" (change)="setUserType(userType)">
      <option value="" disabled selected>User Type</option>
      <option [value]="alluserTypes.administrator">Administrator</option>
      <option [value]="alluserTypes.chamber">Chamber</option>
      <option [value]="alluserTypes.prospect">Prospect</option>
      <option [value]="alluserTypes.salesRep">Sales Rep</option>
    </select>
  </div>
</div>
<!-- // Error due to app-modal -->
<!-- <app-modal [header]="'Choose User Type'" [openModal]="openModal">
  <div class="" card-body>
    <select class="browser-default" [(ngModel)]="userType" (change)="setUserType(userType)">
      <option value="" disabled selected>User Type</option>
      <option [value]="alluserTypes.administrator">Administrator</option>
      <option [value]="alluserTypes.chamber">Chamber</option>
      <option [value]="alluserTypes.prospect">Prospect</option>
      <option [value]="alluserTypes.salesRep">Sales Rep</option>
    </select>
  </div>
</app-modal> -->
<div *ngIf="openModal" [class]="(openModal === true)? 'modal-overlay openoverlay':''"></div>
